<center>
<div style="width: 80%; display: table;border-radius: 4px;">
    <div style="display: table-row; height: 245px;">
        <div style="width: 50%; display: table-cell; background: darkcyan;"><br>
            <center><B style="color: whitesmoke;">USER</B><br><br>
                <button class="button" onclick="window.location.href='/login'">Login</button><br><br>
                <button class="button" onclick="window.location.href='/signup'">Create New User</button>
            </center>
        </div>
        <div style="display: table-cell; background: darkcyan;"><br> 
             <center><B  style="color: whitesmoke;">ADMIN</B><br><br>
             	<button class="button" onclick="window.location.href='/admin_login'">Login</button><br><br>
                <button class="button" onclick="window.location.href='/create_admin'">Create New Admin</button>
             </center>
        </div>
    </div>
</div>
</center>